.board {
	position: relative;
}

.outerTable {
	margin: auto;
	border-collapse: separate;
	border-spacing: 0;
}

.outerTable tr:first-child td:first-child {
	border-top-left-radius: 10px
}

.outerTable tr:first-child td:last-child {
	border-top-right-radius: 10px;
}

.outerTable tr:last-child td:first-child {
	border-bottom-left-radius: 10px;
}

.outerTable tr:last-child td:last-child {
	border-bottom-right-radius: 10px;
}

.smallTile {
	border: 1px solid black;
	height: 50px;
	width: 50px;
	padding: 0;

}

.largeTile {
	border: 3px solid black;
	height: 160px;
	width: 160px;
	position: relative;
}

.shadow {
	box-shadow: inset 0 0 50px 10px grey;
}


.backgroundColor {
	position: absolute;
	height: 162px;
	width: 162px;
	z-index: -3;
	text-align: center;
	top: 0;
	left: 0;
	background: #e6e6e6
}

.innerTable {
	border-collapse: collapse;
	margin: auto;
}

.innerBoardWinner {
	position: absolute;
	height: 162px;
	width: 162px;
	line-height: 162px;
	font-size: 140px;
	z-index: -1;
	text-align: center;
	top: 0;
	left: 0;
}

.visible {
	opacity: 1;
}

.hidden {
	opacity: 0;
}

.instant {
	transition: none;
}