.game {
	position: relative;
}

.gameNotInPlay {
	position: absolute;
	height: 100px;
	width: 100%;
	opacity: 0;

	transition: opacity 2s;
}

.counterContainer {
	position: absolute;
	height: 100px;
	width: 100%;
	opacity: 1;

	transition: opacity 2s;
	/*
	display: inline-block;
	vertical-align: top;
	*/
}

.turnDisplayGameWon {
	opacity: 0;
	transition: opacity 2s;
}

.turnLeftNext {
	height: 40px;
	width: 40px;
	line-height: 40px;
	font-size: 30px;

	border: solid black 3px;
	border-radius: 3px;
	display: inline-block;
	text-align: center;

	transition: width .5s, height .5s, line-height .5s, font-size .5s;
}


.turnRightNext {
	position: absolute;
	right: 0;

	height: 40px;
	width: 40px;
	line-height: 40px;
	font-size: 30px;

	border: solid black 3px;
	border-radius: 3px;
	display: inline-block;
	text-align: center;

	transition: width .5s, height .5s, line-height .5s, font-size .5s;
}

.turnLeftCurrent {
	height: 100px;
	width: 100px;
	line-height: 100px;
	font-size: 90px;

	border: solid black 3px;
	border-radius: 3px;
	display: inline-block;
	text-align: center;

	transition: width .5s, height .5s, line-height .5s, font-size .5s;
}


.turnRightCurrent {
	position: absolute;
	right: 0;

	height: 100px;
	width: 100px;
	line-height: 100px;
	font-size: 90px;

	border: solid black 3px;
	border-radius: 3px;
	display: inline-block;
	text-align: center;

	transition: width .5s, height .5s, line-height .5s, font-size .5s;
}

.onlineOpponent {
	border-color: grey;
	color: grey;
}

.messageContainer {
	position: absolute;
	left: 50%;
	line-height: 450px;
}

.message {
	position: relative;
	height: 498px;
	width: 498px;
	line-height: 450px;
	background: white;
	left: -50%;
	border-radius: 10px;
	text-align: center;
}

.messageHidden {
	position: relative;
	height: 498px;
	width: 498px;
	line-height: 450px;
	background: white;
	left: -50%;
	border-radius: 10px;
	text-align: center;

	opacity: 0;

	transition: none;
}

.messageVisible {

	position: relative;
	height: 498px;
	width: 498px;
	line-height: 450px;
	background: white;
	left: -50%;
	border-radius: 10px;
	text-align: center;
	z-index: 2;
	border: 3px solid black;

	opacity: 1;

	transition: opacity 2s;
	transition-delay: 1s;
}

.nameContainer {
	height: 40px;
	width: 100%;
	font-size: 30px;
}

.removed {
	display: none;
}

.left {
	top: 0;
	bottom: 0;
}

.right {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
}
