button {
	background: transparent;
	border: none;
	height: 100%;
	width: 100%;
	color: black;
	font-weight: bold;
	font-size: 32px;
	outline: 0;
}

#center {
	margin: auto;
}

#xcolor {
	background-color: #7A06C0;
}

#ocolor {
	background-color: #ECE62A;
}