.game {
	
}

.bigTable, .lilTable {
	margin: auto;
	border-collapse: collapse;
}

.smallTable {
	border-collapse: collapse;
	margin: auto;
}

.innerboard {
	border: 1px solid black;
	height: 50px;
	width: 50px;
	padding: 0;

}

/*7A06C0 ECE62A*/

.outerboard {
	border: 3px solid black;
	height: 160px;
	width: 160px;
	position: relative;
}

.outerboard:hover {
	background: white;
}

.nextBoard {
	background: #edeeef;
}

.outerboardWon {
	position: absolute;
	height: 162px;
	width: 162px;
	line-height: 162px;
	font-size: 140px;
	z-index: -1;
	text-align: center;
	opacity: .2;
	top: 0;
	left: 0;
}

.winMark {
	position: absolute;
	height: 162px;
	width: 162px;
	line-height: 162px;
	font-size: 150px;
	z-index: -2;
	text-align: center;
	opacity: .3;
	top: 0;
	left: 0;
}

.svgclass {
	height: 100%;
	width: 100%;
}

.linecross {
	stroke: rgb(255,0,0);
	stroke-width: 2;
	stroke-linecap: round;
	/*
	stroke-dasharray: 152;
	stroke-dashoffset: 152;
	animation: offset 1s linear forwards;
	*/
}

/*

render something like this as a child of outerboards
when the board has been won

must add position:relative; to outerboard for abs
positioning

<div class="won" style="
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    color: white;
    font-weight: bold;
    background-color: rgba(0,0,0,.5);
    font-size: 100px;
    text-align: center;
    padding-top: 29px;
">X</div>
*/

.bold {
	background: #edeeef;
}

.xcolor {
	border-color: #7A06C0 !important;
}

.ocolor {
	border-color: #ECE62A !important;
}


#nothing {

}



#center {
	display: block;
    margin-left: auto;
    margin-right: auto;

}

#squid {
	background-color: red;
}