.innerboard {
	border: 1px solid black;
	border-radius: 2px;
	height: 50px;
	width: 50px;
}

/*7A06C0 ECE62A*/

.outerboard {
	border: 3px solid black;
	border-radius: 7px;
	height: 160px;
	width: 160px;
}

#availableBoard {
	border: 7px solid black !important;
}

#nothing {

}



#center {
	display: block;
    margin-left: auto;
    margin-right: auto;

}

#squid {
	background-color: red;
}