.board {
	position: relative;
}

.outerTable {
	margin: auto;
	border-collapse: separate;
	border-spacing: 0;
}

.outerTable tr:first-child td:first-child {
	border-top-left-radius: 10px
}

.outerTable tr:first-child td:last-child {
	border-top-right-radius: 10px;
}

.outerTable tr:last-child td:first-child {
	border-bottom-left-radius: 10px;
}

.outerTable tr:last-child td:last-child {
	border-bottom-right-radius: 10px;
}




.smallTile {
	border: 1px solid black;
	height: 50px;
	width: 50px;
	padding: 0;

}

.largeTile {
	border: 3px solid black;
	height: 160px;
	width: 160px;
	position: relative;
}

.shadow {
	box-shadow: inset 0 0 50px 10px grey;
}


.backgroundColor {
	position: absolute;
	height: 162px;
	width: 162px;
	z-index: -3;
	text-align: center;
	top: 0;
	left: 0;
	background: #e6e6e6
}




.innerTable {
	border-collapse: collapse;
	margin: auto;
}

.winMark {
	position: absolute;
	height: 162px;
	width: 162px;
	line-height: 162px;
	font-size: 150px;
	z-index: -2;
	text-align: center;
	top: 0;
	left: 0;
}

.innerBoardWinner {
	position: absolute;
	height: 162px;
	width: 162px;
	line-height: 162px;
	font-size: 140px;
	z-index: -1;
	text-align: center;
	top: 0;
	left: 0;
}



.visible {
	opacity: 1;
}

.hidden {
	opacity: 0;
}

.instant {
	transition: none;
}

.outerTileWinTrans {
	transition-property: opacity;
    transition-duration: 2s;
    transition-delay: 4s;
}


























.svgclass {
	height: 100%;
	width: 100%;
}

.bigWinMark {
	position: absolute;
	height: 504px;
	width: 504px;
	line-height: 504px;
	top: 0;
	left: 0;
	right: 0;
	margin: auto;
	z-index: -2;
}

.bigSvgClass {
	height: 100%;
	width: 100%;
}

.linecross {
	stroke: red;
	stroke-width: 10px;
	stroke-linecap: round;
	/*
	stroke-dasharray: 152;
	stroke-dashoffset: 152;
	animation: offset 1s linear forwards;
	*/
}

.smallPath {
	stroke-dasharray: 1000;
	stroke-dashoffset: 1000;
	stroke-width: 3;
	animation: smallDash 5s linear forwards;
}

.bigPath {
	stroke-dasharray: 3000;
	stroke-dashoffset: 3000;
	stroke-width: 3;
	animation: bigDash 15s linear forwards;
}

@keyframes smallDash {
	from {
		stroke-dashoffset: 1000;
	}
	to {
		stroke-dashoffset: 0;
	}
}

@keyframes bigDash {
	from {
		stroke-dashoffset: 3000;
	}
	to {
		stroke-dashoffset: 0;
	}
}



/*

render something like this as a child of outerboards
when the board has been won

must add position:relative; to outerboard for abs
positioning

<div class="won" style="
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    color: white;
    font-weight: bold;
    background-color: rgba(0,0,0,.5);
    font-size: 100px;
    text-align: center;
    padding-top: 29px;
">X</div>
*/


/*

.smallTable {
	border-collapse: collapse;
	margin: auto;
}

.smallTableWon {
	border-collapse: collapse;
	margin: auto;

	opacity: 0;

	transition-property: opacity;
    transition-duration: 2s;
    transition-delay: 4s;
}

.smallTableWonNoTransOff {
	border-collapse: collapse;
	margin: auto;

	opacity: 0;

	transition: none;
}

.smallTableWonNoTransHover {
	border-collapse: collapse;
	margin: auto;

	transition: none;
	opacity: 1;
}

.winMarkFadeOut {
	position: absolute;
	height: 162px;
	width: 162px;
	line-height: 162px;
	font-size: 150px;
	z-index: -2;
	text-align: center;
	top: 0;
	left: 0;

	opacity: 0;

	transition-property: opacity;
    transition-duration: 2s;
    transition-delay: 4s;

}

.winMarkNoTransHover {
	position: absolute;
	height: 162px;
	width: 162px;
	line-height: 162px;
	font-size: 150px;
	z-index: -2;
	text-align: center;
	top: 0;
	left: 0;

	opacity: 1;
	transition: none;
}

.winMarkNoTransOff {
	position: absolute;
	height: 162px;
	width: 162px;
	line-height: 162px;
	font-size: 150px;
	z-index: -2;
	text-align: center;
	top: 0;
	left: 0;

	opacity: 0;
	transition: none;
}

.outerboardWon {
	position: absolute;
	height: 162px;
	width: 162px;
	line-height: 162px;
	font-size: 140px;
	z-index: -1;
	text-align: center;
	top: 0;
	left: 0;
}

.outerboardWonAvailable {
	position: absolute;
	height: 162px;
	width: 162px;
	line-height: 162px;
	font-size: 140px;
	z-index: -1;
	text-align: center;
	top: 0;
	left: 0;

	opacity: 0;
}

#center {
	display: block;
    margin-left: auto;
    margin-right: auto;
}

.xcolor {
	border-color: #7A06C0 !important;
}

.ocolor {
	border-color: #ECE62A !important;
}

*/